/* Introduction */
.mainIntroduction {
  margin-bottom: 2rem;
}

.mainIntroduction,
.mainIntroductionMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainIntroductionMessage {
  margin: auto 0.5rem 2rem 0.5rem;
  height: 65%;
  max-width: 60%;
}

.mainIntroductionMessageText {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.5rem;
  color: #fff;
}

.image {
  margin: 0 auto;
  margin-top: 3rem;
  height: auto;
  max-height: 80%;
  max-width: 90%;
  z-index: 1;
}

.introductionArrowsContainer {
  display: none;
}
.mainIntroductionMessageImage1, .mainIntroductionMessageImage2 {
  height: auto;
  position: absolute;
  top: 5rem;
  height: 94vh;
}
.mainIntroductionMessageImage1 {  
  right: 10%;
  max-width: 25rem;
}
.mainIntroductionMessageImage2 {  
  right: 0;
  z-index: 1;
  max-width: 15rem;
}

@media (min-width: 1020px) {
  .mainIntroduction {
    margin: 0  0 0 2rem;
    margin-top: -4rem;
    flex-direction: row;
    height: 100vh;
  }
  .mainIntroductionMessage {
    margin-top: 0;
    justify-content: flex-start;
  }
  .image {
      width: 40%;
  }
  .introductionArrowsContainer {
      display: flex;
  }
}

/* WhoWeAre */
.whoWeAre {
  margin: auto;
  color: #FFF;
  text-align: center;
  max-width: 35rem;
}


@media (min-width: 1020px) {
    .whoWeAre {
        position: relative;
    } 
}