@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Outfit:wght@400;600&display=swap');

.container {
  font-family: 'Outfit', sans-serif;
  text-transform: uppercase;

  background-color: #091059;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 2rem 0;

  img {
    margin: 2rem 0;
  }
}
