@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Outfit:wght@400;600&display=swap');

.container {
  font-family: 'Outfit', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin: 3rem;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.title {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  border-radius: 15px;

  width: 27rem;

  h1 {
    color: #192cff;
    font-family: 'Oswald', sans-serif;
    font-size: 3.5rem;
    margin: 0;
  }
}
